<div id="toolbar">
  <h1>Hong Kong Recycling Facilities 香港環保設施</h1>
  <!-- <ul id="filters">
    <li><%=link_to_function 'All', "filter('All')"%></li>
    <li><%=link_to_function "Recycle Bins 資源回收筒", "filter('recycle_bins')"%></li>
  </ul> -->
  <ul id="sidebar-info">
    <!-- <li><%= link_to 'About Green HK', "about_greenhk.html" %></li> -->
    <li><%= link_to 'Eddie@Thought Sauce', "http://thought-sauce.com" %></li>
    <li><%= link_to 'Open Source@Github', "https://github.com/thought-sauce/greenhk" %></li>
  </ul>
</div>

<div id="content">
  <div id="map-wrapper">
    <div id="map"></div>
  </div>
  <div id="sidebar"></div>
</div>
